.A{
    display: flex;
    
    font-family: verdana, sans-serif;
    font-size: 24px;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    width: 18em;
}
#a1
{
   border-style: solid;
   border-width: 2px;
   border-color: black;
   flex-grow: 1;
   background-color: yellow;
}
#a2
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    flex-grow: 2;
    background-color: yellow;
}
#a3
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    flex-grow: 2;
    background-color: yellow;
}

.B{
    display: grid;
    grid-template-columns: 40em;
    grid-template-rows: 20em 1.5em 20em 1.5em 20em  1.5em;

    grid-template-areas:"a""b""c""d""e""f";
    justify-content: center;
}
#title{
    background-color: rgb(200, 215, 236);
}
#b1{
    background-color: rgb(200, 215, 236);

}
#b2{
    background-color:  rgb(200, 215, 236);

}
#b3{
    background-color:  rgb(200, 215, 236);

}
.b11{
    background-color: rgb(200, 215, 236);
    font-size: 1em;
    text-align: right;
}

.typing {
    width: 15em;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 2s steps(15, end), blink-caret .75s step-end infinite;
    overflow: hidden;
}
@keyframes typing {
  from { width: 0; }
  to { width: 15em; }
}
@keyframes blink-caret {
  from, to { box-shadow: 1px 0 0 0 transparent; }
  50% { box-shadow: 1px 0 0 0; }
}